body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

header img {
    max-width: 100px; /* Adjust the size as needed */
    height: auto;
}
nav {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 0.5em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 20px;
}

footer {
    background-color: #343a40;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .footer-content {
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .footer-section {
    flex: 1;
    margin: 10px;
  }
  
  .footer-section h2 {
    color: #FFD700; /* Gold */
  }
  
  .footer-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-section a {
    color: #FFD700; /* Gold */
    text-decoration: none;
  }
  
  .footer-bottom {
    margin-top: 20px;
    padding-top: 10px;
    background-color: #2C3E50; /* Dark blue */
  }
  main {
    margin: 20px;
  }
  
  .welcome-section {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .welcome-section h2 {
    color: #007BFF; /* Blue */
  }
  
  .highlights-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .highlight-card {
    flex: 1;
    max-width: 300px;
    margin: 10px;
    padding: 20px;
    background-color: #ffffff; /* White */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .highlight-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .highlight-card h3 {
    color: #343a40; /* Dark grey */
  }
  
  .highlight-card p {
    color: #666; /* Light grey */
    line-height: 1.4;
  }
    
